<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 퍼미션을 설정하기도 하지만, 주로 이용하는 편이므로 위치 관련 권한을 요청함 -->
    <!-- 위치 권한 요청을 아래에 2개 세트로 구성. 이유는 체크성 오류가 발생했기 때문임 - 한 세트로 사용할 것 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 추가 Notification 확인을 하려고 하니 API 13 이상 부터는 시스템이 권한을 요구하므로 이를 자동 설정하였음 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".test12.APIApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_secuirty_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.K230327_Android_Lab"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".test12.SlidingUpDialog"
            android:exported="false" />
        <activity
            android:name=".test12.GoogleMapBottomSheetDialogFragment"
            android:exported="false" />
        <activity
            android:name=".test12.SixthPracticeTeachableMachine"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".test12.SixthPracticeGoogleMap"
            android:exported="true" />
        <activity
            android:name=".test12.SixthPracticeRecycle"
            android:exported="true" />
        <activity
            android:name=".test12.SixthPracticeEdit"
            android:exported="false" />
        <activity
            android:name=".test12.SixthPracticeMemInfo"
            android:exported="false"
            android:label="@string/title_activity_sixth_practice_mem_info" />
        <activity
            android:name=".test12.ApiTestActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.test10_12_jjh.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".test12.SixthPracticeRegister"
            android:exported="true" />
        <activity
            android:name=".test12.SixthPracticeLogin"
            android:exported="true" />
        <activity
            android:name=".test12.SixthPracticeIntro"
            android:exported="false" />
        <activity
            android:name=".test12.SixthPractice"
            android:exported="true" />
        <activity
            android:name=".test12.PracticeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".test12.MainActivity389"
            android:exported="true" />
        <activity
            android:name=".test12.MainActivity388"
            android:exported="true" />
        <activity
            android:name=".test12.MainActivity385"
            android:exported="true" />
        <activity
            android:name=".test12.MainActivity384"
            android:exported="true" />
        <activity
            android:name=".test12.MainActivity378"
            android:exported="true" />
        <activity
            android:name=".test12.MainActivity"
            android:exported="true" />
        <activity
            android:name=".test10_11.DrawerTestActivity"
            android:exported="true" />
        <activity
            android:name=".test10_11.ViewPager2_Fragment_Activity"
            android:exported="true" />
        <activity
            android:name=".test10_11.ViewPager2_Recycle_Activity"
            android:exported="true" />
        <activity
            android:name=".test10_11.Recycle2Activity"
            android:exported="false" />
        <activity
            android:name=".test10_11.RecycleActivity"
            android:exported="true" />
        <activity
            android:name=".test10_11.FragTestActivity"
            android:exported="false" />
        <activity
            android:name=".test10_11.JetActivity"
            android:exported="false" />
        <activity
            android:name=".test10_11.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".test10_11.NotiActivity"
            android:exported="false" />
        <activity
            android:name=".test10_11.MainActivity"
            android:exported="false" />
    </application>

</manifest>